################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/attrib/v17/TestStore/0/testlog.manifest
/.vs/attrib/v17/TestStore/0/000.testlog
/.vs/attrib/v17/TestStore/0
